<p style="color: green"><%= notice %></p>

<%= render @hoge %>

<div>
  <%= link_to "Edit this hoge", edit_hoge_path(@hoge) %> |
  <%= link_to "Back to hoges", hoges_path %>

  <%= button_to "Destroy this hoge", @hoge, method: :delete %>
</div>
