<p style="color: green"><%= notice %></p>

<%= render @hello2 %>

<div>
  <%= link_to "Edit this hello2", edit_hello2_path(@hello2) %> |
  <%= link_to "Back to hello2s", hello2s_path %>

  <%= button_to "Destroy this hello2", @hello2, method: :delete %>
</div>
